DATABASE_USER=REPLACE_ME
DATABASE_PASSWORD=REPLACE_ME
DATABASE_NAME=REPLACE_ME
REDIS_PASSWORD=REPLACE_ME
NAU_SERVICE_KEY=REPLACE_ME
OPENAI_API_KEY=REPLACE_ME
APIFY_TOKEN=REPLACE_ME
APIFY_INSTAGRAM_UNIVERSAL_ACTOR_ID=REPLACE_ME
TRANSCRIPTION_URL=REPLACE_ME
TAG=REPLACE_ME
